################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VisualStudio/SegtransaAssetManager/UnitTests/bin/Debug/EntityFramework.SqlServer.dll
/VisualStudio/SegtransaAssetManager/UnitTests/App.Config
